.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 1rem 0;
}

.pagination__item {
  margin: 0 0.5rem;
}

.pagination__button {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
}

.c {
  background-color: blue;
  color: #fff;
}

.pagination__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}